.loginContainer {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/space-tycoon-a24a4.appspot.com/o/shuttle.png?alt=media&token=06fb7ca8-9359-47d6-9597-0109baed8112");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.loginTopic {
    font-size: 24px;
    color: #ffffff;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-top: 80px;
    font-family: var(--font-zen);
    font-weight: 100;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.loginInput {
    background-color: var(--darkBlue);
    border: 1px solid var(--lightBlue);
    border-radius: 40px;
    padding: 15px 32px;
    text-align: center;
    color: var(--white);
    font-family: var(--font-zen);
    font-weight: 100;
    margin-top: 10px;
    width: 336px;
    height: 20px;
    transition: 0.5s;
}

.loginInput:focus {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.loginInput::placeholder {
    color: var(--lightBlue);
    font-family: var(--font-zen);
    font-weight: 100;
}

.loginInput:last-child {
    margin-top: 20px;
}

.loginButton {
    background-color: var(--btn-light);
    border: 1px solid var(--lightBlue);
    border-radius: 40px;
    padding: 15px 32px;
    text-align: center;
    color: var(--white);
    font-family: var(--font-zen);
    font-weight: 100;
    margin-top: 20px;
    transition: 0.5s;
}

.loginButton:hover {
    background-color: var(--lightBlue);
    color: var(--darkBlue);
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
}

.loginForgotPassword {
    font-size: 12px;
    color: var(--grey);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-top: 20px;
    font-family: var(--font-space);
    font-weight: 100;
}

.loginForgotPassword a {
    text-decoration: none;
    color: #ffffff;
}