.app {
  transition: width, height, margin-left, cubic-bezier(0.25, 1, 0.5, 1) 100ms;
  width: 60px;
  height: 60px;
  position: relative;
  margin-top: 10px;
}

.app:hover {
  width: 90px;
  height: 90px;
  margin-left: -30px;
}

.app:hover + .app {
  width: calc(80px + var(--dock-offset-bottom, 0px));
  height: calc(80px + var(--dock-offset-bottom, 0px));
  margin-left: calc(-20px + var(--dock-offset-bottom, 0px) * -1);
}

.app:has(+ .app:hover) {
  width: calc(80px + var(--dock-offset-top, 0px));
  height: calc(80px + var(--dock-offset-top, 0px));
  margin-left: calc(-20px + var(--dock-offset-top, 0px) * -1);
}


.app:has(+ .app + .app:hover) {
  width: calc(70px + var(--dock-offset-left, 0px));
  height: calc(70px + var(--dock-offset-left, 0px));
  margin-top: calc(-10px + var(--dock-offset-left, 0px) * -1);
}
.dock-list{
  list-style: none;
}
/**
   Styling that has nothing to do with the animation:
  */

body {
  margin: 0;
}

.page {
  min-height: 90dvh;
  display: flex;
}

.dock {
  margin: auto auto 12px auto;
  padding: 0 12px;
  display: flex; /* Set to flex layout */
  flex-direction: column; /* Display items in a column */
}

.app img {
  width: 120%;
  height: 120%;
}

.app a {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 12px;
  color: #fff;
  cursor: pointer;
}

.app:hover .tooltip,
.app:focus-within .tooltip {
  opacity: 1;
}

.tooltip {
  position: absolute;
  top: 20%;
  left: 120%;
  transform: translateX(-10%);
  display: block;
  background: rgba(0, 0, 0, 0.58);
  padding: 8px;
  border-radius: 12px;
  height: 22px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.17) 0px 12px 8px 1px;
  white-space: nowrap;
  font-family: var(--font-space);
}

.source-links {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: 20px;
  top: 20px;
  text-align: right;
}

.source-links a {
  color: #fff;
  opacity: 0.3;
  margin-bottom: 8px;
}

.source-links a:hover {
  opacity: 1;
}

.mobile-message {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  justify-content: center;
  align-items: center;
  display: none;
}

@media only screen and (max-width: 800px) {
  .mobile-message {
    display: flex;
  }
}

.mobile-message p {
  max-width: 70vw;
}

.mobile-message a {
  color: #fff;
}

.mobile-message::before {
  content: "";
  position: fixed;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.3);
  filter: blur(80px);
  -webkit-filter: blur(80px);
}
/* li items */
#sun {
  transform: translateX(-256%) scale(1.8);
}
#mercury {
  transform: translateX(-192%) scale(0.8);
}
#venus {
  transform: translateX(-128%) scale(1.1);
}
#earth {
  transform: translateX(-64%) scale(1.5);
}
#osh {
  transform: translateX(-32%) scale(1.3);
}
#jupiter {
  transform: translateX(-32%) scale(1.9);
}
#saturn {
  transform: translateX(-64%) scale(1.8);
}
#uranus {
  transform: translateX(-128%) scale(1.4);
}
#neptune {
  transform: translateX(-192%);
}
#pluto {
  transform: translateX(-256%);
}