:root {
  --darkBlue: #0F041D;
  --lightBlue: #41DDFF;
  --white: #FFFFFF;
  --black: #000000;
  --grey: #C4C4C4;

  --btn-dark: #021211;
  --btn-light: #06303E;

  --font-zen: 'Zen Dots', cursive;
  --font-space: 'Space Mono', monospace;
}

/* * {
  max-width: 50%;
} */

/* .Startup {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/space-tycoon-a24a4.appspot.com/o/earth-at-night.jpg?alt=media&token=431c16f0-e726-40a1-b95e-64df71c329b4");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000000;
} */