:root {
  --darkBlue: #0F041D;
  --lightBlue: #41DDFF;
  --white: #FFFFFF;
  --black: #000000;
  --grey: #C4C4C4;
  --purple: #362E69;

  --btn-dark: #021211;
  --btn-light: #06303E;

  --font-zen: 'Zen Dots', cursive;
  --font-space: 'Space Mono', monospace;

  background-color: var(--darkBlue);
}