.Startup {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/space-tycoon-a24a4.appspot.com/o/earth-at-night.jpg?alt=media&token=431c16f0-e726-40a1-b95e-64df71c329b4");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100vh;
    width: 100%;
    position: fixed;
}

h1.heading {
    color: var(--lightBlue);
    text-align: center;
    font-size: 5rem;
    font-family: var(--font-zen);
    margin-top: 100px;
}

h6.linkText {
    color: var(--grey);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-space);
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

h6.linkText :hover {
    color: var(--lightBlue);
}